// Styles for the blog layout option

// Blog article styles

.node-blog-article {
  .field-name-field-tags {
    border: none;
    padding-top: 1.2em;
    .field-label {
      width: auto;
      margin-right: 8px;
      margin-bottom: 0.3em;
    }
    .field-item {
      color: #fff;
      a {
        text-decoration: none;
        padding: 3px 5px;
        border: 1px solid #ccc;
        background-color: #efefef;
        border-radius: 3px;
        color: #136e94; // accessible contrast
        margin-bottom: 0.5em;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
          border: 1px solid #999;
          text-decoration: underline;
        }
      }
    }
  }
  .field-type-taxonomy-term-reference {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .links.inline li {
    margin-right: 1em;
    margin-top: 1em;
    display: inline-block;
  }
  .submitted {
    margin-bottom: 20px;
    color: #696969;
  }
}
.listing, .node-teaser, .search-results li {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  margin-bottom: 50px;
  &:first-of-type {
    border-top: none;
  }
}

// post article wrapping section
.pane-blogs .view-blogs {
  padding-bottom: 1.5em;
  .more-link a {
    background-color: #eee;
    &:before {
      background-color: $primaryColour;
    }
  }
}






// Sidebar

.panel-1col-stacked .panel-col-top {
  .pane-views {
    margin-bottom: 2.2em;
  }
  .views-row {
    .date {
      display: block;
      color: #696969;
    }
    margin-bottom: 5px;
  }
  .pane-govcms-social-links-services {
    margin-bottom: 2em;
  }
  .views-summary {
    margin-bottom: 5px;
  }
  .pane-blogs-tags {
    a {
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.node-media-release {
  .node-readmore a {
    margin-top: 1em;
  }
}

.webform-container-inline label {
  display: block;
}





// Everywhere

// btn, more than just blog pages effected by this
.node-readmore,
.view-blogs .more-link,
.read-more,
.comment-comments,
.comment-new-comments,
.comment-add {
  a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    &:before {
      background-color: $primaryColour2;
      content: "";
      height: calc(100% + 2px);
      left: -5px;
      position: absolute;
      top: -1px;
      width: 5px;
    }
    &:hover,
    &:active,
    &:focus {
      border-color: #333;
      color: #fff;
      background-color: $primaryColour2;
      &:before {
        background-color: #333;
      }
    }
  }
}

.region-footer-bottom .block-menu .menu>li>a:before {
  border-color: #888;
}



.breadcrumb {
  border-bottom: 1px solid transparentize($primaryColour, 0.8);
  font-size: 0.9rem;
}




// accessibilty rules

// start with the basics
a {
  &:active, &:focus {
    background-color: #000 !important;
    color: #fff !important;
    outline: solid;
  }
}
// override as needed
header.header,
.region-navigation {
  a {
    &:active, &:focus {
      background-color: #fff !important;
      color: #000 !important;
    }
  }
}
input, button {
  &:active,
  &:focus {
    border: solid 1px $primaryColour !important;
  }
}
