/* add these to the parent theme */
::-webkit-input-placeholder {
  color: #777
}
::-moz-placeholder {
  color: #000
}
:-moz-placeholder {
  color: #000
}
:-ms-input-placeholder {
  color: #777
}
input.placeholder {
  color: #777
}

#footer-top .social-link img {
  position: relative;
  top: -4px;
}

.layout-centered.page-wrapper {
  margin-bottom: 25px;
}

body.front div.pane-govcms-social-links-services div.social-link {
  float: left;
}

body.front div.pane-govcms-social-links-services div.social-link a.social-links-title-title {
  display: none;
}


body.front div.pane-govcms-social-links-services div.social-link a.social-links-img-link {
  padding-left: 0;
  padding-right: 12px;
}

body.front div.pane-govcms-social-links-services div.social-link a.social-links-img-link img {
  height: auto;
  width: auto;
}

body.front div.panel-col-middle div.pane-blogs {
    float: left;
}


body.front div.pane-blogs-tags .row-of-tags {
    float: left;
    padding-right: 5px;
}

body.front div.panel-col-top div.rounded-corner div.panel-pane {
    width: 270px;
}

body.front div.panel-col-top div.pane-blogs-archive ul.views-summary {
  list-style-type: none;
  padding: 0px;
}


#site-map {
  .content {
    a.feed-link {
      margin-left: 6px;
      top: -4px;
      position: relative;
    }
    //sitemap
    ul.site-map-menu li {
      padding-bottom: 5px;
      background: url("../images/dashes.gif") repeat-y;
      padding-left: 15px;
      list-style: none;
      &.last {
        background: url("../images/dashesLast.gif") no-repeat;
      }
    }
  }
}




.webform-submit,
.button-primary,
.form-submit {
  border-color: #fff;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: none;
  border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  color: #231f20;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 22px;
  min-height: 40px;
  overflow: visible;
  padding: 8px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  &:before {
    background-color: $primaryColour2;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: #333;
    color: #fff;
    background-color: $primaryColour2;
    &:before {
      background-color: #333;
    }
  }
}





// arrow uses :before and wasnt clickable
.bean-image-and-text .image-title h2 a {
  display: block;
  position: relative;
  z-index: 1;
}





// Accessibly fixes ---------------------------

// better contrast
:link {
  color: #1e70ac;  // was #3e90cc
}

// better contrast
.mission__title {
  color: #307eaf;
}

// set back to default
a:hover, a:focus, a:active {
  outline: #4DC9E3 none medium !important;
}

// set back to default
a:hover {
  outline: #4DC9E3 none medium !important;
}

a:focus, a:active {
  outline: #4DC9E3 solid medium !important;
}

//Remove once DTO go live and have their own theme
.menu-block-govcms_menu_block-sidebar .menu .menu__link.active {
  border-left-color: #4DC9E3;
}

//Need to fix up this font stuff at some point
*, html, body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}