// extra mobile styles here


@media (max-width: 980px) {
  .panel-1col-stacked .panel-col-top {
    // .pane-govcms-social-links-services {
    //   margin-bottom: 5em;
    // }
    .panel-pane {
      width: 100%;
      display: block;
      float: left !important;
    }
  }
}

@media (max-width: 720px) {
  .panel-1col-stacked .panel-col-top {
    .panel-pane {
      min-height: 7.5em;
    }
  }
}
