// responsive style rules go here


@media (min-width: 980px) {
  // align search to header divider as requested
  .region-navigation #block-search-api-page-default-search {
    padding-left: 10px;
  }

  // Override homepage slideshow widths to align like above
  .slide-show__slide-left,
  #block-views-slideshow-block {
    .group-left {
      width: 690px;
    }
  }
  .slide-show__slide-right,
  #block-views-slideshow-block .group-right {
    width: 290px;
  }
}

@media (max-width: 980px) {
  // Front page specific rules
  body.front .panel-1col-stacked {
    //.panel-col-middle {
    .panel-pane.pane-block {
      width: 50%;
    }
    //}
  }

  #block-search-api-page-default-search {
    width: 100%;
    margin: 10px 0 !important;
    .block__content {
      margin-right: 0 !important;
      .form-item input {
        border-radius: 4px;
      }
      .form-submit {
        margin-right: 4px !important;
      }
    }
  }

  .region-navigation .block__content > .menu > li > a {
    padding: 10px 22px;
    &:first-of-type {
      padding-right: 23px;
    }
  }

  .panel-col-middle,
  .panel-col-bottom {
    .panel-pane {
      width: 49.3% !important;
      float: left;
      margin-right: 20px;
      &:nth-of-type(2) {
        margin-left: 0 !important;
      }
    }
    //.panel-pane.pane-block.pane-bean-homepage-message-from-dg {
    //  width: 100% !important;
    //  margin-bottom: 10px;
    //}
  }

}



// @media (max-width: 720px) {
// ...
// }

@media (max-width: 720px) {
  .panel-1col-stacked .panel-col-top .panel-pane {
    min-height: 0;
  }
}



@media (max-width: 650px) {
  .panel-pane.pane-block {
    width: 100%;
  }

  // Header img
  header.header {
    overflow: hidden;
    img {
      max-width: 160%;
      float: right;
      right: -12px;
      position: relative;
    }
  }

  // Nav
  .region-navigation {
    .block-superfish, #tinynav1 {
      width: 100%;
    }
  }

  // Rules for image banners
  div.region-highlighted {
    .field-type-image {
      overflow: hidden;
      img {
        max-width: 190%;
      }
    }
  }

  .panel-col-middle .panel-pane {
    width: 100% !important;
    margin-left: 0 !important;
    display: block !important;
    float: left !important;
    margin-bottom: 10px;
  }
  .panel-col-bottom {
    .panel-pane {
      width: 100% !important;
    }
    .bean-image-and-text.landing_page {
      max-width: 100%;
      img {
        width: 100%;
      }
    }
  }

  #footer-top {
    & > div.block {
      margin-top: 1em;
      width: 100%;
    }
    #block-menu-menu-important-links {
      ul.menu {
        column-count: 2;
        column-gap: 1.5em;
      }
    }
  }
  #footer_bottom {
    border-top: 1px solid rgba(#fff, 0.5);
    ul.menu li {
      width: 49%;
      a {
        text-align: left;
        padding-left: 0;
        &:before {
          border: 0 !important;
        }
      }
    }
  }

  .layout-centered.page-wrapper {
    margin: 0;
  }

}

@media (max-width: 550px) {
  // Front page specific rules
  body.front .panel-1col-stacked {
    .panel-col-middle {
      .panel-pane.pane-block {
        width: 100%;
      }
    }
  }
  h1.page__title.title {
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }

  // Responsive tables
  // https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/
  // (requires attribute to work though)
  // table td:before {
  //   content: attr(data-label);
  //   float: left;
  //   text-transform: uppercase;
  //   font-weight: bold;
  // }

  #footer_bottom {
    ul.menu li {
      width: 100%;
    }
  }

}




@media (max-width: 500px) {
  // Make content (.media-element) imgs not have some stupidly small amount of text show up to the side on smallish screens. Instead make img take up whole line and centre it.
  body.not-front article p img.media-element {
    margin: 0 auto !important;
    float: none !important;
    display: block !important;
  }
}
