
// Set some theme specific colours
.navigation__primary-link.is-active:before,
.navigation__primary-item:focus>a:before,
.navigation__primary-item:hover>a:before,
.region-navigation .block__content>.menu>li:focus>a:before,
.region-navigation .block__content>.menu>li:hover>a:before,
.region-navigation .block__content>.menu>li.active-trail>a:before,
.node-type-job-vacancy .region-navigation .block__content .menu > li.sf-item-3 > a:before {
  // border-top: 3px solid $highlightColour;
  border-top: 0;
}

a:focus,
a:active {
  outline: $highlightColour solid 1px !important;
}
a,
a:hover,
a:before,
.button-primary,
.button-primary:hover,
.button-primary:before {
  transition: 0.2s ease; // fade btwn colours
}


.navigation,
.region-navigation .block__content > .menu,
.navigation__wrapper,
.region-navigation {
  background-color: $highlightColour;
  background: linear-gradient($highlightColour 30%, #670C20);
}
// Left coloured line on sub-menu items in main nav
.navigation__link.is-active::before,
.navigation__link:focus::before, .navigation__link:hover::before,
.region-navigation .block__content > .menu li li a:focus::before,
.region-navigation .block__content > .menu li li a:hover::before,
.region-navigation .block__content > .menu li li a.active::before {
  border-left-color: $highlightColour;
}
input:active, input:focus, button:active, button:focus {
  border-color: $highlightColour !important;
}

.navigation__drop-down,
.region-navigation .block__content > .menu > li > ul {
  width: auto!important;
}
.navigation__item, .navigation__primary-item,
.region-navigation .block__content > .menu li {
  white-space: nowrap!important;
}

.region-navigation .block__content > .menu > li > ul > li > ul {
  position: absolute!important;
  left: 100%!important;
  top:0!important;
  width: auto!important;
  white-space: nowrap!important;
}


.listing__title,
.node-teaser h2,
.search-results h3.title,
.mission__statement,
h1, h2, h3, h4, h5, h6 {
  color: $headings;
}



// Use some better fonts...
*, html, body {
  font-family: $fontFamily;//Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.listing__title,
.node-teaser h2,
.search-results h3.title,
.mission__statement {
  font-family: $fontFamily;//Georgia, "Times New Roman", Times, serif;
}


// new baseline as per ONA's request..
// may need to be modded in other places too
h1 {
  font-size: 2.0rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}


.page-wrapper {
  //margin-top: 0;
  margin: 0 auto; // if we're making it flush at the top, it shoould be the same on the bottom too..
}


// overrides for this theme
.layout-front__two-columns,
.front .panel-1col-stacked .panel-col-top .panels-ipe-portlet-wrapper,
.front .panel-1col-stacked .panel-col-top .panel-pane,
.front .panel-1col-stacked .panel-col-middle .panels-ipe-portlet-wrapper,
.front .panel-1col-stacked .panel-col-middle .panel-pane,
.front .panel-1col-stacked .panel-col-bottom .panels-ipe-portlet-wrapper,
.front .panel-1col-stacked .panel-col-bottom .panel-pane {
  width: 100%;
}
.layout-front__content,
.front .panel-1col-stacked .panel-col-top {
  margin-left: 0;
}

// ------------------------------------------


// Nav bar
.navigation,
.region-navigation {
  #block-superfish-1 {
    float: left;
  }
  #block-search-api-page-default-search {
    display: inline-block;
    margin: 5px 0 0 9px;
    float: right;
  }
  .block__content>.menu {
    a {
      text-transform: capitalize;
      //font-size: 120%;
      font-size: 100%;
      font-weight: 200;
      border: 1px solid rgba(#fff,0.1);
      outline: none !important;
    }
    li.sfHover > a,
    li a.active {
      background: linear-gradient($dottedBorder 10%, #fff);
      border-bottom: 1px solid #fff;
      &:active,
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.node-type-job-vacancy .region-navigation .block__content > .menu li.sf-item-3 > a {
  background: linear-gradient($dottedBorder 10%, #fff);
  border-bottom: 1px solid #fff;
  color: $primaryColour;
}

.breadcrumb {
  border-color: lighten($highlightColour,8%);
  padding: 8px 0;
}

.header__logo {
  max-width: 100%;
}

.header__logo-image {
  max-height: none;
}

.header {
  padding: 0px
}

div.region-highlighted {
  div#block-search-api-page-default-search {
    width: 100%;
    margin-right: 20px;
    margin-top: 5px;

    div.block__content {
      float: right;
      width: 300px;
    }

  }
}


body.page-search {
  div#block-search-api-page-default-search {
    div.block__content {
      margin-right: 20px;

      button#edit-submit-1--2 {
        margin-right: 20px;
      }
    }

  }
}

div.search-api-page-results {
  p.search-info {
    display: none;
  }
}

ul.rslides_tabs {
  li {
    a {
      &#stopStartSlide, &#stopStartSlide:hover, &#stopStartSlide:focus {
        padding-right: 4px;
        &.stopped,
        &.started {
          width: 2em;
          text-align: center;
        }
        &.started {
          padding-left: 0.55em;
          letter-spacing: -6px;
        }
        &.stopped {
          padding-left: 6px;
        }
      }
    }
  }
}

.menu-block-govcms_menu_block-sidebar .menu .menu__link.active {
  border-left-color: $highlightColour;

}

.button::before, button::before, html input[type="button"]::before, input[type="reset"]::before,
input[type="submit"]::before, .slide-show__read-more-link::before,
#block-views-slideshow-block .field-name-field-read-more a::before, .node-readmore a::before, .view-blogs .more-link a::before, .read-more a::before, .comment-comments a::before, .comment-new-comments a::before, .comment-add a::before {
  background-color: $buttonLeftUnselected;
}

.button:focus::before, .button:hover::before, button:focus::before, html input[type="button"]:focus::before,
input[type="reset"]:focus::before, input[type="submit"]:focus::before,
.slide-show__read-more-link:focus::before,
#block-views-slideshow-block .field-name-field-read-more a:focus::before,
button:hover::before, html input[type="button"]:hover::before,
input[type="reset"]:hover::before,
input[type="submit"]:hover::before,
.slide-show__read-more-link:hover::before,
#block-views-slideshow-block .field-name-field-read-more a:hover::before,
.node-readmore a:hover::before,
.node-readmore a:active::before,
.node-readmore a:focus::before,
.view-blogs .more-link a:hover::before,
.view-blogs .more-link a:active::before,
.view-blogs .more-link a:focus::before,
.read-more a:hover::before,
.read-more a:active::before,
.read-more a:focus::before,
.comment-comments a:hover::before,
.comment-comments a:active::before,
.comment-comments a:focus::before,
.comment-new-comments a:hover::before,
.comment-new-comments a:active::before,
.comment-new-comments a:focus::before,
.comment-add a:hover::before,
.comment-add a:active::before,
.comment-add a:focus::before {
  // background-color: $buttonLeftSelected;
  background-color: $footerTopColour;
}

.button::before, button::before, html input[type="button"]::before,
input[type="reset"]::before,
input[type="submit"]::before,
.slide-show__read-more-link::before,
#block-views-slideshow-block .field-name-field-read-more a::before,
.button:focus,
.button:hover, button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.slide-show__read-more-link:focus,
#block-views-slideshow-block .field-name-field-read-more a:focus,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover, .slide-show__read-more-link:hover,
#block-views-slideshow-block .field-name-field-read-more a:hover,
.node-readmore a:hover,
.node-readmore a:active,
.node-readmore a:focus,
.view-blogs .more-link a:hover,
.view-blogs .more-link a:active,
.view-blogs .more-link a:focus,
.read-more a:hover,
.read-more a:active, .read-more a:focus,
.comment-comments a:hover,
.comment-comments a:active,
.comment-comments a:focus,
.comment-new-comments a:hover,
.comment-new-comments a:active,
.comment-new-comments a:focus,
.comment-add a:hover,
.comment-add a:active,
.comment-add a:focus {
  background-color: $buttonSelected;
}

.img-float--left, .img-float-left {
  float:left !important;
}
.img-float--none, .img-float-none {
  float:none !important;
}
img.media-element {
  border-color: $lightGrey;  // set the colour incase a border is set in the WYSIWYG editor
}

// Not Front page specific rules
body.not-front {

  &.node-type-page {
    article.node-24 {
      img.media-element {
        float: none;
        margin: 0px;
        height: 145px;
      }
    }
  }


  .img-float--right,
  .img-float-right,
  img.media-element {
    margin: 10px !important;  // stop text from running into images
  }

  //Rules for image banners
  div.region-highlighted {
    padding: 0px;
    margin: 0px;
  }

  div.view-vacancies {
    div.view-header {
      font-size: 15px;
      line-height: 22px;
    }

    // div.view-empty {
    .vacancies-pre{
      border-bottom: 1px dashed $dottedBorder;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    div.view-content {
      div.views-row {
        article {
          border-top: 1px dashed $dottedBorder;
          margin-bottom: 15px;
        }
      }
    }
  }

  div#block-search-api-page-default-search {
    float: right;
    div.block__content {
      //margin-right: 20px;
      button#edit-submit-1 {
        //margin-right: 20px;
      }
    }
  }
}


.region-highlighted.layout-full {
  margin: 2px 0 !important;
}

// Front page specific rules
body.front {

  .region-highlighted.layout-full {
    // margin: 2px 0;
    padding: 0;
    #block-views-slideshow-block {
      // top: 40px;
      // margin-bottom: 40px;
      width: 100%;
    }
  }

  .slide-show__slide-left, #block-views-slideshow-block {
    div.group-left {
      height: auto;
    }
  }
  .layout-front__two-columns {
    @extend left95;
  }

  .slide-show__slides, #block-views-slideshow-block {
    .rslides {
      // Use the same gradient as the other homepage boxes do..
      background-color: #F6F9FA;
      background: linear-gradient(#F6F9FA 60%,#fff);
      border-bottom: 1px solid $dottedBorder;
      .content a {
        border: 1px solid $dottedBorder;
      }
    }
    .group-right {
      padding-left: 25px;
    }
  }

  .panel-1col-stacked {
    .panel-col-top {
      float: left;
      width: 100%;
      .panels-ipe-portlet-wrapper,
      .panel-pane {
        @extend left95;
      }
      p {
        //margin-bottom: 0; // Tim strongly disagrees with this and may have commented it out..
      }
    }

    .panel-col-middle {
    //  width: 100%;
    //  display: inline-block;
    //  margin: 20px 0 20px;
    //  > div:first-of-type,
    //  .panels-ipe-sort-container > div:first-of-type .panel-pane.pane-block {
    //    margin-left: 0 !important;
    //  }
    //  div.pane-vacancies {
    //    width: 35%;
    //    float:left;
    //  }
    //
    //  div.panel-pane.pane-block.pane-bean-homepage-osc {
    //    width: 25%;
    //  }
    //
    //  .panel-pane.pane-block, .pane-views {
    //    width: 37.5%;
    //    float: left;
    //    margin-left: 1.2%;
    //    box-sizing: border-box;
    //    border: 1px solid #bbccdd;
    //    background-color: #F6F9FA;
    //    background: linear-gradient(#F6F9FA 2%, #fff);
    //    border-radius: $borderRadius;
    //
    //    div.field-item {
    //      div.content {
    //        padding-left: 5px;
    //      }
    //    }
    //
    //    .front-block-body > h3 {
    //      color: $highlightColour;
    //      font-size: 1.45rem;
    //      margin-bottom: 1em;
    //    }
    //    h2.pane-title {
    //      margin-bottom: 0.5em;
    //      font-size: 1.5rem;
    //      color: $highlightColour;
    //      padding-left: 25px;
    //    }
    //    .button-primary {
    //      margin: 0;
    //      background-color: lighten($highlightColour,16%);
    //      &:first-of-type {
    //        margin-right: 15px;
    //      }
    //      &:last-of-type:before {
    //        background-color: lighten($footerC,25%);
    //      }
    //    }
    //    .text {
    //      // display: inline;
    //      margin-bottom: 1.5em;
    //    }
    //
    //    li {
    //      list-style: none;
    //      a {
    //        padding-left: 15px;
    //        background: url("../images/Icon_Arrow.gif") no-repeat scroll left 3px rgba(0, 0, 0, 0);
    //
    //        margin-top: 1em;
    //        &:before {
    //          display: inline-block;
    //          position: relative;
    //          // padding: 0 5px 5px 5px;
    //          padding: 0 4px 5px 6px;
    //          // margin-top: -1px;
    //          font-size: 180%;
    //          font-weight: 200;
    //          top: 2px;
    //        }
    //        &:hover:before {
    //          background-color: $highlightColour;
    //          color: $highlightColour;
    //        }
    //      }
    //    }
    //  }
    }

    .panel-col-middle,
    .panel-col-bottom {
      width: 100%;
       & > div.panel-pane,
       div.panels-ipe-region > div.panels-ipe-sort-container > .panels-ipe-portlet-wrapper {
        @extend left95;
        width: 32%;
        border-radius: $borderRadius;
        border: 1px solid #bbccdd;
        background-color: #F6F9FA;
        background: linear-gradient(#F6F9FA 50%, #fff);
        margin-bottom: 15px;
        &:first-of-type {
          margin-right:20px;
        }
        &:nth-of-type(6) {
          margin-right: 17px;
        }
      }
      ul {
        list-style: none;
        li {
          border-bottom: 1px dashed $dottedBorder;
          margin: 5px 0;
          padding-bottom: 5px;
          width: 90%;
          a {
            padding-left: 15px;
            background: url("../images/Icon_Arrow.gif") no-repeat scroll left 3px rgba(0, 0, 0, 0);
            color: #730d22;
            text-decoration: none;
            &:hover {
              color: #546c78;
            }
          }
        }
      }
      .pane-vacancies {
        //padding-left: 25px;
        h2 {
          margin-left: 10px;
          color: #231f20;
        }
        .view-vacancies {
          padding-left: 25px;
          .views-row {
            border-bottom: 1px dashed $dottedBorder;
            margin: 5px 0;
            padding-bottom: 5px;
            width: 90%;
            //div.views-field-title {
            //   font-weight: bold;
            //}
            span.vacancy-block-closing-date-label {
              //color: $lightGrey; // not dark enough against the bg gradient
              color: #666;
              &:after {
                content: ": ";
              }
            }
            span.vacancy-block-closing-date-field {
              color: #231f20;
            }
          }
        }
      }
      .more-link {
        margin-right: 15px;
        padding-left: 15px;
        background: url("../images/Icon_Arrow.gif") no-repeat scroll left 5px transparent;
        padding-right: 15px;
        text-align: left;
        padding-bottom: 10px;
        a {
          text-decoration: none;
          //color: $highlightColour;
          color: #730d22;
        }
      }
    }
    .bean-image-and-text h2 {
      font-size: 1.35em;
      &:after {
        background-color: $highlightColour !important;
        background-image: url("../../agency_whitesite/images/arrow.svg?1416573831"), linear-gradient( lighten($highlightColour, 8%) 2%, darken($highlightColour, 8%) ) !important;
      }
    }
  }
}


// side menu
.layout-sidebar {
  margin: 15px 0;
  div > ul.menu {
    border: 1px solid #e2e2e2;
    list-style: none;
    padding: 0;
    & > li {
      background-color: $htmlBGcolour;
      border-bottom: 1px solid $menuBG;
      a {
        display: block;
        padding: 8px 5px 8px 20px;
        text-decoration: none;
        color: $primaryColour;
        &:hover {
          text-decoration: underline;
        }
        &.active{
          border-left: 5px solid $highlightColour;
          // attempting to make border a gradient but cbf for now..
          // border-left: 0 !important;
          // &:before {
          //   width: 5px;
          //   content: " ";
          //   background: linear-gradient( lighten(black, 5%) 2%, darken(lime, 5%) );
          // }
        }
      }
      .menu {
        li {
          border-bottom: 0 !important;
        }
      }
      &.menu__item.is-expanded {
        padding-bottom: 0;
        // & > a {
        //   border-bottom: 1px solid $menuBG;
        // }
      }
    }
  }
}
.region-sidebar {
  h2 {
    color: $primaryColour;
  }
  .menu-block-govcms_menu_block-sidebar > .menu {
    .menu__link.is-active-trail {
      font-weight: 600;
      font-family: $fontFamily;
    }
    & > li:first-of-type {
      padding-top: 0 !important;
    }
    & > li:last-of-type {
      padding-bottom: 0 !important;
    }
  }
}

// some things are using another font for bold text, add it below if you find more..
strong, th {
  font-weight: 600;
  font-family: $fontFamily;
}

th {
  font-weight: 400;
}

// Buttons
.button-primary {
  padding: 8px 23px;
}
.webform-submit, .button-primary, .form-submit {
  border-color: lighten($footerC,50%);
  border-left-color: $highlightColour;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 105%;
  border-radius: $borderRadius;
}
.webform-submit:before, .button-primary:before, .form-submit:before {
  background-color: $highlightColour;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}
.webform-submit:hover:before, .button-primary:hover:before, .form-submit:hover:before {
  background-color: $highlightColour;
}
.webform-submit:hover, .webform-submit:active, .webform-submit:focus, .button-primary:hover, .button-primary:active, .button-primary:focus, .form-submit:hover, .form-submit:active, .form-submit:focus {
  background-color: $highlightColour;
  color: $footerC;
}


// content page / Statements entry
.main-content {

  .field-name-body {
    //margin-top: 2.5em;
  }
  .field .field-label {
    font-weight: 400;
    color: $lightGrey;
  }

  address {
    background: $htmlBGcolour;
    padding: 20px;
    margin-bottom: 1em;
    display: inline-block;
  }

  .img-float--right,
  .img-float-right,
  img.media-element {
    margin: 0;
    float: none;
    width: 100%;
    padding: 0;
  }

  .content-float-right {
    float: right;
    font-size: 90%;
    padding: 5px;
    text-align: center;
    .larger-link {
      //added for ONA on the OSC page
      font-size: 110%;
      font-weight: 600;
    }
  }

}


.view-vacancies {
  h2 {
    margin-top: 0.5em;
  }
  ul.links a {
    margin: 1em 0;
  }
}
// only on individual vacany pages
body.node-type-job-vacancy.section-careers {
  article.node-job-vacancy {
    .field-name-field-job-level-pay {
      color: $lightGrey;
      margin-bottom: 0.8em;
    }
  }
  .region-sidebar {
    div > .menu > li .menu {
      display: none;
    }
    div > .menu > li:first-of-type {
      background-color: #fff;
      a {
        font-weight: 400;
      }
      &.is-expanded,
      &.active {
        font-weight: 600 !important;
      }
      // &.is-active-trail a {
      //   font-weight: 400;
      // }
      & > a {
        border-left: 5px solid $highlightColour;
        padding-left: 15px;
        font-weight: 600 !important;
      }
      .menu {
        display: list-item;
        list-style: none;
        padding-left: 0;
        li {
          list-style: none;
          & > a {
            font-weight: 400;
          }
        }
      }
    }
  }
}
// careers section
body.section-careers {
  .region-sidebar {
    div > .menu > li {
      a {
        font-weight: 400 !important;
        // &.is-expanded,
        &.active {
          font-weight: 600 !important;
        }
      }
      // &.active {
      //   font-weight: bold;
      // }
      // &.is-active-trail a {
      //   font-weight: 400;
      // }

    }
  }
}

h2.label,
h3.label,
h4.label {
  font-weight: 400;
  color: $lightGrey;
  line-height: 1.4em;
  font-size: 1.1rem;
  margin-bottom: 0;
  &:after {
    content: ":";
  }
}

//  File Icons
img.file-icon {
  top: -2px;
  position: relative;
  padding-right: 3px;
}

.toc-filter-back-to-top .toc-filter-processed {
  color: $highlightColour;
  color: $lightGrey;
  font-weight: 400 !important;
  &::after {
    content: "▴";
    display: inline-block;
    top: -1px;
    padding-left: 5px;
    position: relative;
    color: $lightGrey;
    font-weight: 600 !important;
    color: $highlightColour;
  }
}
div.toc-filter-back-to-top {
  border-top: 1px solid $dottedBorder;
}


// Footer
#footer-top {
  color: #fff;
  background-color: $footerTopColour;
  background: linear-gradient($footerTopColour 2%, $footerBottomColour);
  .block-menu {
    float: left;
    width: 25%;
    padding: 0.5rem;
    h3.block-title {
      font-size: 1rem;
      font-weight: bolder;
      line-height: normal;
      padding-bottom: 0.45em;
      margin-bottom: 0.45em;
      color: #fff;
      border-bottom: 1px solid rgba($footerBottomColour, 0.5);
    }
    ul.menu {
      // column-count: 3;
      // column-gap: 2em;
      li {
        line-height: 1em;
        padding-top: 0.5em;
        a {
          font-size: 0.8rem;
          font-weight: 200;
          color: #222;
          text-decoration: none;
          &:hover,
          &:active,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
#footer_bottom {
  &, .region-footer-bottom {
    background-color: $footerC;
    border-top: 1px solid $footerC;
  }
  &:before {
    display: none;
  }
  .block {
    margin: 5px 20px;
  }
  .block__content {
    text-align: center;
  }
  ul.menu {
    // text-align: center;
    padding: 0;
    li.menu__item {
      // display: inline-block;
      float: none;
      a {
        color: $primaryColour;
        font-size: 0.9em;
      }
      // color: #fff;
      a:before {
        border-left: solid 1px lighten($primaryColour, 30%); // 'pipe'
        border-left: solid 1px rgba($footerTopColour, 0.5); // 'pipe'
      }
      &.first {
        a:before {
          border-left: none; // 'pipe'
        }
      }
    }
  }
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       


// JS Lightbox styles
#lightbox{
  background-color:#eee;
  padding: 10px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  #lightboxDetails{
    font-size: 0.8em;
    padding-top: 0.4em;
  }
  #lightboxCaption {
    float: left;
  }
  #keyboardMsg {
    float: right;
  }
  img {
    border: none;
    &#closeButton {
      width: 30px;
      right: -7px;
      top: -7px;
    }
  }
}
#overlay {
  background-image: url('../images/overlay.png');
  img {
    border: none;
  }
}
//* html #overlay{
//  background-color: #000;
//  back\ground-color: transparent;
//  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
//}
